<% provide(:title, @book.title)%>
<h1><%= @book.title %></h1>

<div class="row">
  <div class="span6 padded author">by <%= @book.author %></div> <div><% if @book.ratings.any?%>
                                                                     <%= rating_total @book %>
                                                                     <% else %>  
                                                                     <%= "This book has not yet been rated." %> 
                                                                     <% end %></div>
</div>

<div class="row">
</div>

<div class="row">
  
  <div class="span8  ">
    <% if @book.posts.any? %>
      <ol class="posts">
          <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>

<div class="offset8 padded"><%= link_to "New post", new_book_post_path(book_id: @book.id), class: "btn btn-inverse btn-small" %></div> 
  <% rating = Rating.find_by_user_id_and_book_id(current_user, @book) %> 
                              <% if !rating.nil?%>
                               <div class="result span3 padded">Your submitted rating: <%= rating.score %> </div>
                              <% else %>
                               <div class="span2 padded"> <%= render 'shared/rating_form' %></div>
                              <% end %>
                    
</div>
